<section class="filtros">
    <span>Seleccione el deporte deseado: </span>
    <select name="deporte">
      <option [value]="sport" *ngFor="let sport of sports"> {{ sport | titlecase }}</option>
    </select>
</section>

<main class="principal-reservas">

  <div class="calendario">
    <h3>Calendario</h3>
    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selectedDay"
                    (selectedChange)="diaSeleccionado(selectedDay)"></mat-calendar>
    </mat-card>
  </div>

  <div class="turnos">
    <h3>Turnos</h3>
    <div *ngIf="selectedDay && !loading1()">
      <p>Dia: {{ selectedDay | date: 'd/M/yy' }}</p>
      <ul>
        <li *ngFor="let turno of turnos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Horario: {{ turno.horario }}hs</mat-card-title>
              <mat-card-subtitle *ngIf="turno.disponible">Disponible</mat-card-subtitle>
              <mat-card-subtitle *ngIf="!turno.disponible">No disponible</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end" *ngIf="turno.disponible">
              <button mat-raised-button (click)="turnoElegido(turno)" color="primary">Reservar</button>
            </mat-card-actions>
          </mat-card>
        </li>
      </ul>
    </div>
    <div class="centrar-spinner" *ngIf="loading1()">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="resumen">
    <h3>Resumen</h3>
    <div *ngIf="turnoSeleccionado !== null && !loading2()">
      <!-- <div class="noDisponible" *ngIf="!turnoSeleccionado.disponible">
        <p>El turno seleccionado no se encuentra disponible.</p>
        <p>Por favor elija otro turno.</p>
      </div> -->
      <div class="disponible" *ngIf="turnoSeleccionado.disponible">
        <p>Usted esta por reservar el turno del: {{ selectedDay | date: 'd/M/yy' }}</p>
        <p>A las: {{ turnoSeleccionado.horario }}hs</p>
        <a mat-raised-button color="primary" routerLink="/confirmation" (click)="reserveTurn()">Continuar</a>
      </div>
    </div>
    <div class="centrar-spinner" *ngIf="loading2()">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</main>
