<div class="content-principal-side">

  <div class="logo">
    <img src="assets/images/logo.png" alt="">
  </div>

  <nav class="navigation">
    <ul class="nav">
      <li class="nav-item">

        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/home"
           routerLinkActive="active">
          <span>Inicio</span>
        </a>

      </li>

      <li class="nav-item">
        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/reservas"
           routerLinkActive="active">
          <span>Reservas</span>
        </a>
      </li>

      <li class="nav-item">
        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/competiciones"
           routerLinkActive="active">
          <span>Competiciones</span>
        </a>
      </li>

      <li class="nav-item">
        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/dashboard"
           routerLinkActive="active">
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <button mat-stroked-button
           color="primary"
           class="nav-link"
          (click)="authService.logout()">
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </nav>

</div>
