
.content-principal-side {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .logo {
    text-align: center;
    img {
      width: 80%;
    }
  }

  .navigation {
    font-size: larger;
    font-weight: bold;

    .nav {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      .nav-item {
        margin: 16px 0;
        padding: 0;
        text-align: center;

        .nav-link {
          width: 80%;
        }
        .active {
          color: #ffffff;
          background-color: #00A241;
        }
      }
    }
  }
}
