<div class="contenedor-principal-side">

  <div class="logo">
    <img src="assets/images/logo.png" alt="">
  </div>

  <nav class="navegacion">
    <ul class="nav">
      <li class="nav-item">

        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/home"
           routerLinkActive="active">
          <span class="menu-titulo">Inicio</span>
        </a>

      </li>

      <li class="nav-item">
        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/reservas"
           routerLinkActive="active">
          <span class="menu-titulo">Reservas</span>
        </a>
      </li>

      <li class="nav-item">
        <a mat-stroked-button
           color="primary"
           class="nav-link"
           routerLink="/competiciones"
           routerLinkActive="active">
          <span class="menu-titulo">Competiciones</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
