<h1 mat-dialog-title>{{ item.reservedBy }}</h1>
<div mat-dialog-content>
  <p>Fecha: {{ item.date | date: 'EEEE d MMMM' }}</p>
  <p>Horaio: {{ item.hour }}hs</p>
  <p>Tiempo de uso: {{ item.usageTime }} horas</p>
  <p>Señia: {{ item.deposit }}</p>
  <p *ngIf="item.note">Notas: {{ item.note }}</p>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <div>
    <button mat-raised-button color="primary" mat-dialog-close [mat-dialog-close]="'Edit'">Editar</button>
    <button mat-raised-button color="warn" mat-dialog-close [mat-dialog-close]="'Delete'">Borrar</button>
  </div>
</div>
