<mat-drawer-container class="container-drawer" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="opened">
    <app-navbar></app-navbar>
  </mat-drawer>

  <button class="btn-drawer" type="button" mat-button (click)="drawer.toggle()">
    <mat-icon fontIcon="dehaze"></mat-icon>
  </button>

  <div class="principal-content">
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
  </div>

</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
