.container-drawer {
  height: 100%;
  height: 100vh;
  height: 100dvh;

  .sidenav {
    width: 40%;
  }

  .header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    .btn-drawer {
      display: block;
      margin-left: 3px;
      background-color: #FFFFFF;
      border: none;
      padding: 4px;
    }
    .title {
      font-size: 18px;
      color: #505050;
      text-align: center;
      font-weight: 500;
    }
    .log {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      padding: 2px 2px 1px 2px;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #505050;
    }
  }
  .principal-content {
    margin-top: 34px;
  }
  @media (min-width: 425px) {
    .sidenav {
      max-width: 270px;
      padding: 20px;
      display: block;
    }
    .btn-drawer {
      display: none;
    }
    .principal-content {
      padding-left: 10px;
    }
  }

}
