.container-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .date-dashboard {
    position: fixed;
    width: 100%;
    color: #FFFFFF;
    background-color: #D1D1D1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      padding: 0px;
      height: 24px;
    }
  }

  table {
    width: 100%;
    margin-top: 23px;
    th {
      padding: 0;
      text-align: center;
      min-width: 120px;
      background: #B6E4C0;
      color: #FFFFFF;
      font-size: 18px;
    }
    td {
      border-right: 1px solid #D1D1D1;
      padding: 0;
      text-align: center;
      min-width: 120px;
    }
    .hour {
      border-bottom: none;
    }
  }

  .add-button-oppen {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 15px;
	  right: 10px;
    z-index: 100;
    color: #000000;
    background-color: #B6E4C0;
    mat-icon {
      transform: scale(1.5);
    }
  }


  // Seccion para agregar un turno
  .addBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: 900;
    display: flex;
    overflow: hidden;

    .blank {
      width: 40%;
    }
    .addCourt {
      background-color: #FFFFFF;
      width: 60%;

      mat-card {
        height: calc(100% - 35px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .addHeader {
          display: flex;
          .add-button-closed {
            margin-left: -35px;
            margin-top: -10px;
            color: #000;
            background-color: #B6E4C0;

            mat-icon {
              transform: scale(1.5);
              color: #000;
            }
          }
          mat-card-title {
            margin-left: 20px;
            margin-top: -5px;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .date {
          padding: 0 5px;
          p {
            margin: 0;
            font-weight: 300;
            font-size: 12px;
          }
          mat-card {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 18px;
          }
        }
        .time {
          padding: 0 5px;
          font-weight: 300;
          font-size: 12px;
          display: flex;
          justify-content: space-between;

          input {
            width: 30px;
            height: 40px;
            font-size: 20px;
            border: none;
            background-color: #E9E9E9;
            border-radius: 4px;
            text-align: center;
          }
          span {
            font-size: 24px;
          }
          .use-time {
            text-align: end;
          }
        }
        .courts {
          padding: 0 5px;
          p {
            margin: 0;
            font-weight: 300;
            font-size: 12px;
          }
          mat-card {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 18px;
          }
        }
        .details {
          padding: 0 5px;
          span {
            margin: 0;
            font-weight: 300;
            font-size: 12px;
          }
          input, textarea {
            font-size: 12px;
            height: 20px;
            border: 2px solid #F1F1F1;
            border-radius: 4px;
            text-align: center;
          }
          .add-form1 {
            margin-bottom: 10px;
            input {
              width: 120px;
            }
          }
          .add-form2 {
            margin-bottom: 10px;
            input {
              width: 50px;
            }
          }
          .add-form3 {
            margin-bottom: 15px;
            margin-right: 10px;
            display: flex;
            justify-content: space-between;
            textarea {
              width: 120px;
              height: 70px;
              resize: none;
            }
          }
          .add-form4 {
            margin-bottom: 15px;
            input {
              width: 120px;
            }
          }
        }
        .add-btn {
          display: flex;
          justify-content: space-between;
          padding: 10px 10px;
          button {
            height: 30px;
            border-radius: 15px;
          }
        }
      }
    }


    .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      .delete-actions {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
